<!--
  <ion-header>
    <ion-navbar>
      <ion-title>Configure</ion-title>
    </ion-navbar>
  </ion-header>
-->
  <ion-content>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-list>
      <ion-item>
        <ion-label>Example: http://192.168.2.1:8000/suggestion/suggest/</ion-label>
      </ion-item>
      <ion-item>
          <ion-input name="urlText" [(ngModel)]="data" [placeholder]="data"></ion-input>
      </ion-item>
      <ion-item>
          <button ion-button round outline (click)="setClicked()">Set</button>
      </ion-item>
    </ion-list>

    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </ion-content>
