<!--
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Fresh Water Thinking</ion-title>
    </ion-navbar>
</ion-header>
-->
  
<ion-content>
    <!--
    <iframe class='webPage' style="width: 100%; height: 100%;" name="suggestionPage" [src]="getSafeURL()">
   </iframe>
   -->

   <button ion-button round outline (click)="start()">Start</button>

   <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
</ion-content>