/*Declaration of new fonts, add a new font by copying the code, making alterations to name url and use the same formats*/
@font-face {
	font-family: FWTIrmaRoundRegular;
	src: 
	url("font/FWT_IrmaRound-Regular.woff") format("woff"),
	url("font/FWT_IrmaRound-Regular.ttf") format("truetype");
}

@font-face {
	font-family: SedgwickAveRegular;
	src: 
	url("font/SedgwickAve-Regular.woff") format("woff"),
	url("font/SedgwickAve-Regular.ttf") format("truetype");
}

@font-face {
	font-family: BoogalooRegular;
	src: 
	url("font/Boogaloo-Regular.woff") format("woff"),
	url("font/boogaloo-Regular.ttf") format("truetype");
}

#page_title, #privacy_title, #chosen_question, .question, #privacy_div, #style_text, #privacy_text, #privacy_text_div, #submitter_name {
	font-family: FWTIrmaRoundRegular;
	font-weight: normal;
}

#page_title, #privacy_title, #chosen_question, .question, #privacy_div, #style_text, #privacy_text, #privacy_text_div {
	color: #006BA6;
}

.quit_taskbar{
	border-style: solid;
	border-width: 40px 0px;
	border-color: white;
	background-color: white;
	width: 85%;
	position: fixed;
	top: 0;
}

#privacy_spacing{
	padding-top: 120px;
}

#style_text{
	font-size:18px;
}

#privacy_div{
	text-decoration: underline;
	margin-bottom: 20px;
}

.style_buttons.active.focus, .style_buttons.active:focus, .style_buttons.active:hover, .style_buttons:active.focus, .style_buttons:active:focus, .style_buttons:active:hover, .open>.dropdown-toggle.style_buttons.focus, .open>.dropdown-toggle.style_buttons:focus, .open>.dropdown-toggle.style_buttons:hover{
	background: #006BA6;
	color: white;
	outline: none;
}

#page_title, #chosen_question, #privacy_topbar {
	padding: 40px 0px;
	font-size: 32px;
}

#topbar{
	margin: 40px 0px;
}

#submit_button, .style_buttons, #submitter_name, #answer_text, #questions{
	border-radius: 15px;
}

#privacy_title{
	width= 90%;
}

#page_title {
	text-align: center;
}

button.style_buttons:active, .btn-default.active{
    background: #006BA6;
	color: white;
	outline: none;
}

#questions {
	font-size: 21px;
	white-space: normal;
	text-align: left;
}

.symbol{
	margin-left: 10px;
}

.question {
    padding: 20px;
    border: 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.centered {
  text-align: center;
  width: 90%;
  margin: auto;
}

table, tr {
	width: 100%;
}

td, #style_text, #privacy_div{
	text-align: left;
}

#button_horizontal{
	margin-left: 27px;
}

.text {
	text-align: left;
	width: 95%;
}

#return_button {
	font-size: 200%;
	background: white;
}

.symbol {
		font-size: 200%;
		text-align: right;
		vertical-align: middle;
		line-height: 70%;
}

#quit_button{
	border: none;
	display: inline-block;
	float:right;
	padding: 1px 5px 1px 5px;
	vertical-align: middle;
}

#privacy{
	width: 90%;
	margin: auto;
}

#submit_button {
	width: 100%;
	color: #006BA6;
	background-color: #F4E501;
	font-size: 24px;
	padding: 30px 0px 30px 0px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.alert_box {
    background-color: #dd1e35;
    color: white;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#submitter_name, #answer_text{
	font-size: 18px;
	outline: 0;
	padding: 20px;
	border-color: silver;
	border-bottom-width: 1px;
	height: auto;
}

.form-group{
	margin: 10px 0px 20px 0px;
}

.bad_input
{
	border: 2px solid #dd1e35;
}

#page_size{
	height: 100%;
    width: 100%;
    display: table;
}

#div_vert_middle{
	display: table-cell;
    height: 100%;
    vertical-align: middle;
}


textarea.placeholderred::-webkit-input-placeholder {
	color: #dd1e35;
}

input.placeholderred::-webkit-input-placeholder {
	color: #dd1e35;
	border-color: #dd1e35;
}

.style_buttons {
	width: 30%;
	padding: 5% 1%;
	outline: 0;
	font-size: 24px;
	margin: auto;
}

#style_buttons_div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
}