{% extends "suggest_layout.html" %}

{% block page_title %}{{page_title}}{% endblock %}
{% block extrascript %}
<script>

</script>
{% endblock %}
{% block main_content %}

	<div class="row">
		<div class="col-md-7">
			<!-- Choose Question Form -->
			<div id="main_menu">
				<div id="page_title">
					Links
				</div>
				<div class="centered" aria-label="...">
					<a id="questions" class="btn question">
						{% for key1,value1 in links.items %}
						<table>
							<tr>
								<td class="text"><a href={{value1}}>{{key1}}</a></td>
								<td class="symbol"><img src="/static/img/arrow.png" alt="arrow" width="16"></td> 
							</tr>
						</table>
						{%endfor%}
					</a>
					<br/>
				</div>
				<div id="page_title">
					Downloads: Visualisation
				</div>
				<div class="centered" aria-label="...">
					<a id="questions" class="btn question">
						{% for visfile in vislist %}
						<table>
							<tr>
								<td class="text"><a href={{visfile}}>{{visfile}}</a></td>
								<td class="symbol"><img src="/static/img/arrow.png" alt="arrow" width="16"></td> 
							</tr>
						</table>
						{%endfor%}
					</a>
					<br/>
				</div>
				<div id="page_title">
					Downloads: Tablet Remote
				</div>
				<div class="centered" aria-label="...">
					<a id="questions" class="btn question">
						{% for remotefile in remote_list %}
						<table>
							<tr>
								<td class="text"><a href="/static/builds/current/tablet/interface/{{remotefile}}">{{remotefile}}</a></td>
								<td class="symbol"><img src="/static/img/arrow.png" alt="arrow" width="16"></td> 
							</tr>
						</table>
						{%endfor%}
					</a>
					<br/>
				</div>
				<div id="page_title">
					Downloads: Tablet Suggestion Interfaxe
				</div>
				<div class="centered" aria-label="...">
					<a id="questions" class="btn question">
						{% for suggestfile in suggestion_list %}
						<table>
							<tr>
								<td class="text"><a href=/static/builds/current/tablet/suggestion/{{suggestfile}}>{{suggestfile}}</a></td>
								<td class="symbol"><img src="/static/img/arrow.png" alt="arrow" width="16"></td> 
							</tr>
						</table>
						{%endfor%}
					</a>
					<br/>
				</div>
			</div>
			{{content_text}}
		</div>
	</div>

{%endblock%}
