{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
	<script src="../../static/js/submission.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>{% block page_title %}Base Template{% endblock %}</title>
    
    <!--Include jquery-->
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <!--Include bootstrap js-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    -->
    <![endif]-->
    <!-- Custom styles for this template -->
    {% block extrastyle %}{% endblock %}
    <!-- Custom scripts for this template -->
    {% block extrascript %}{% endblock %}
</head>
{% endblock %}
    
    <body>
        {% block body %}{% endblock %} 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->
  
    </body>
</html>

