{% extends "suggest_layout.html" %}

{% block page_title %}{{page_title}}{% endblock %}
{% block extrascript %}
<script src="/static/js/submission.js"></script>
<script>
var profanity = {
	text_clean: true,
	name_clean: true,
}
//pass the text to check and the element it goes with.
profanity_test = function(text, element, error_element, profanity_field)
{
    var data = {text: text};   
    var url = "/suggestion/profanity/";
    var result = $.ajax({
        dataType: 'json',
        type: 'POST',
        url: url,
        data: data,
        success: function(resp) {
            if (resp === true) {
				//console.log("input was ok");
				text_verification(true, element, error_element);
				profanity[profanity_field] = true;
            } 
            else 
            {
				//console.log("input was bad");
				text_verification(false, element, error_element);
				profanity[profanity_field] = false;
            }
        },
        error: function() {
            console.log('there was a problem checking the fields');
            return false;
        }
      });
      return result;
};


var switch_modes = function(questiontext, questionid)
{
	//Controls Switching between different forms
	if (questiontext == "privacy")
	{
		$("#submit_answer").hide();
		$("#privacy").show();
	}
	else if (questiontext == "return")
	{
		$("#submit_answer").show();
		$("#privacy").hide();
	}
    else if (questiontext != "")
    {
        $("#question_buttons").hide();
        $("#submit_answer").show();
        $("#chosen_question").text( questiontext );
        $("#questionid").val(questionid)
		$("#privacy").hide();
    }
	else
    {
        $("#question_buttons").show();
        $("#submit_answer").hide();
		$("#privacy").hide();
    }
};

var switch_fonts = function(button, fontname, styleid)
{
	//Control font change
	var buttons = $('#style_buttons_div').children();
	$.each(buttons, function(index, value){
		//console.log(index);
		$(value).removeClass('active');
	});
    $(button).addClass('active');

    //change answer text to selected font
	$("#answer_text").css("font-family", fontname);
    $("#styleid").val(styleid);
};

var try_submit = function(form)
{
	//Attempts to submit and tests input
	console.log("try submit!");
	var element = document.getElementById("answer_text");
    if(element.value == ""){
		element.classList.add("placeholderred");
		//element.classList.add("bad_input");
		document.getElementById("empty_text").style.display = "block";
    }
	else if (profanity.text_clean === true && profanity.name_clean === true)
	{
		$(form).trigger('submit');
	}
	else
	{
		//put alert display code here
	}
}

function resetcss(){
	//reset css to default
	$("#answer_text").css("borderColor", "silver");
	$("#submitter_name").css("borderColor", "silver");
	$("#answer_text").removeClass('placeholderred');
	$("#answer_text").removeClass('bad_input');
	$("#submitter_name").removeClass('placeholderred');
	$("#submitter_name").removeClass('bad_input');
	$("#empty_text").css("display", "none");
	$("#alert_text").css("display", "none");
	$("#alert_name").css("display", "none");
}

//fix focus problem for input elements.
//The problem occurs on iframes inside cordova
//app projects.
var focus_fix = function(el)
{
	el.on('keydown', function(){
		window.focus();
		setTimeout(function()
		{
			el.focus();
		}, 0);
	});
}

$(document).ready( function() {
    
	//on change to answer box remove alert
    $("#answer_text").on('change', function(){
		if(document.getElementById("answer_text").value != ""){
			resetcss();
		}
		profanity_test($("#answer_text").val(), $("#answer_text"), $("#alert_text"), "text_clean" );

	});
	
	// click on answer box removes placeholder text, leaving adds it back in
	$("#answer_text").on('focus', function(){
        document.getElementById("answer_text").placeholder = "";
    });
	
	$("#answer_text").on('focusout', function(){
        document.getElementById("answer_text").placeholder = "Enter your idea here...";
    });
	
	//on change name box resets
    $("#submitter_name").on('change', function(){
		resetcss();
        profanity_test($("#submitter_name").val(), $("#submitter_name"), $("#alert_name"), "name_clean" );
    });
	
	//on focus remove placeholder, loss of focus replace it
	$("#submitter_name").on('focus', function(){
        document.getElementById("submitter_name").placeholder = "";
    });
	
	$("#submitter_name").on('focusout', function(){
        document.getElementById("submitter_name").placeholder = "Enter your name here... (optional)";
    });

    //Default select the first style in the style buttons div
    var default_style = $('#style_buttons_div').children().eq(0);
    default_style.trigger('click')
    
	/*
	focus_fix($("#answer_text"));
	focus_fix($("#submitter_name"));
	*/
    switch_modes("");
}
);
</script>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-2">
		<!-- Choose Question Form -->
        <div id="question_buttons">
			<div id="page_title">
				Choose a Question to Answer
			</div>
            <div class="centered" aria-label="...">
                {% for question in questions %}
                <a id="questions" class="btn question" onclick='switch_modes("{{question.title|escape}}", "{{question.id}}" );''>
					<table>
						<tr>
							<td class="text">{{question.title}}</td>
							<td class="symbol"><img src="/static/img/arrow.png" alt="arrow" width="16"></td> 
						</tr>
					</table>
				</a>
				<br/>
                {% endfor %}
            </div>
		</div>
		<!-- Autocomplete = off for the form disables 'previous suggestions' for the submitter name dropdown -->
        <form id="submit_answer" class="centered" method="POST" action="/suggestion/suggest/" autocomplete="off" onreset="switch_modes('');">
		<!-- Choose Question Form -->
		<table id="topbar">
			<tbody>
				<tr>
					<td>{% csrf_token %}
					    <span class="form-group">
							<span id="chosen_question"></span>
							<input type="hidden" id="questionid" name="questionid"></input>
						</span>
					</td>
					<td id="quit_button">
					<button type="reset" class="btn btn-default" id="quit_button" onclick="resetcss();"><img src="/static/img/cross.png" alt="exit" width="36"></button>
					</td>
				</tr>
			</tbody>
		</table>
            <div class="form-group">
				<div id="empty_text" class="alert_box" style="display:none;">
					Please enter your suggestion before attempting to submit
				</div>
				<div id="alert_text" class="alert_box" style="display:none;">
					Your answer contains words which are deemed inappropriate. Please revise your answer before trying again
				</div>
                <textarea id="answer_text" name="answer_text" class="form-control" rows="4" placeholder="Enter your idea here..." required"></textarea>
			</div>
            <div class="form-group">
				<div id="alert_name" class="alert_box" style="display:none;">
					Your name contains words which are deemed inappropriate. Please revise your answer before trying again
				</div>
                <input id="submitter_name" name="submitter_name" type="text" class="form-control" placeholder="Enter your name here... (optional)"></input>
            </div>
            <div class="form-group">
				<div id="style_text">
					Select your style:	
				</div>
                <div id="style_buttons_div">
                    {% for style in styles %}
					<button id="style_buttons_{{style.id}}" type="button" class="btn btn-default style_buttons" style="font-family: {{style.fontname}};" onclick="switch_fonts(this, '{{style.fontname}}', {{style.id}} );">{{style.name}}</button>
					<span id="button_horizontal"></span>
					<!--<span id="button_gap"></span>-->
                    {% endfor %}
                </div>
                <!--hidden field set by switch font method above-->
                <input type="hidden" id="styleid" name="styleid"></input>
				<div id="privacy_div">
					<a onclick="switch_modes('privacy');">Privacy Policy</a>
				</div>
                <div>
					<!--<button id="submit_button" type="submit" class="btn btn-primary">Submit my idea</button>-->
					<button id="submit_button" onclick='event.preventDefault(); try_submit($("#submit_answer"));' class="btn btn-primary">Submit my idea</button>
                </div>
				
            </div>
        </form>
		<!-- Privacy Policy -->
		<form id="privacy" method="GET" action="/suggestion/suggest/" onreset="switch_modes('return')">
			<table class="quit_taskbar">
				<tbody>
					<tr id="privacy_topbar">
						<td>
							<div id="privacy_title">Privacy</div>
						</td>
						<td id="quit_button">
							<button type="reset" class="btn btn-default" id="quit_button"><img src="/static/img/cross.png" alt="exit" width="36"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="privacy_spacing"/>
			<div id="privacy_text_div">
			
				<h4>Our Privacy Policy explains how we collect, use and disclose personal information.</h4>
				The purpose of this policy is to ensure that Water Corporation protects the privacy of individuals’ personal information, including sensitive information, in accordance with the Privacy Act 1988 (Cth) (the Privacy Act) and confidential information.<br/><br/>
				This document outlines how we collect, use, disclose and otherwise handle and maintain personal, sensitive and confidential information.<br/><br/><br/>
				
				<h4>Policy Statement</h4>
				The Water Corporation is committed to protecting the privacy of individuals’ Personal Information, including Sensitive Information, in accordance with the Privacy Act 1988 (Cth) (the Privacy Act) and Confidential Information. This document outlines how we collect, use, disclose and otherwise handle and maintain Personal, Sensitive and Confidential Information.<br/><br/><br/>
				
				<h4>Background</h4>
				There is currently no legislated privacy regime which applies to Western Australian statutory authorities (including the Water Corporation). The Water Corporation is however, committed to protecting Personal and Sensitive Information in a manner that is consistent with the requirements of the Privacy Act and the Australian Privacy Principles (APPs) which apply to organisations.<br/><br/>
				The Water Corporation collects Personal and Sensitive Information about individuals in order to provide services, to compile statistical data and to perform research and evaluation programs to improve its services in the future.<br/><br/>
				The Water Corporation only collects Personal and Sensitive Information that is reasonably necessary for, or directly related to, one or more of the Water Corporation’s objectives and functions, and ensures that all Personal and Sensitive Information held by the Water Corporation, including information contained in documents and electronic or other devices, is handled in accordance with our Privacy Policy and Guideline and in a manner that is consistent with the APPs and the Privacy Act.<br/><br/>
				The Water Corporation has adopted the Office of the Australian Information Commissioner’s (OAIC) Privacy Management Framework. The OAIC Privacy Management Framework provides steps to:<br/><br/>
				<ol>
					<li>Embed a culture that enables compliance;</li>
					<li>Establish robust and effective privacy practices, procedures and systems;</li>
					<li>Evaluate privacy practises, procedures and systems to ensure continued effectiveness; and</li>
					<li>Enhance responses to privacy issues.</li>
				</ol><br/><br/>
				
				<h4>Purpose</h4>
				Although the Water Corporation is not formally bound by the Privacy Act, the Water Corporation is committed to protecting Personal and Sensitive Information in a manner, where practicable, that is consistent with the requirements of the Privacy Act and the Australian Privacy Principles. The purpose of this Policy and Guideline is to outline how the Corporation deals with Personal and Sensitive Information in the manner described within the context of the Privacy Act, the Australian Privacy Principles and the OAIC Privacy Management Framework.<br/><br/><br/>
				
				<h4>Scope</h4>
				This policy applies to all Personal Information, including Sensitive Information, with relation to our customers, internal and external suppliers, contractors, employees, potential employees, internal and external stakeholders and any other solicited or unsolicited personal information collected, used, disclosed and stored by the Water Corporation. It also covers all media in which information is collected and stored e.g. paper, electronic, film and recording (e.g. CCTV).<br/><br/><br/>
				
				<h4>Definitions</h4>
				<b>Australian Privacy Principles</b><br/>
				Australian Privacy Principles (APPs) as set out in Schedule 1 to the Privacy Act.<br/><br/>
				<b>Confidential Information</b><br/>
				Means all commercial, business, technical, personal or sensitive information which is not otherwise common knowledge, in the public domain, trivial or capable of being adequately described and which is disclosed to the Corporation in circumstances which imports an obligation of confidence.<br/><br/>
				<b>Non Identifiable Information</b><br/>
				Information that is not about an identified individual or an individual who is reasonably identifiable, such as aggregate average data pertaining to website hits or water usage.<br/><br/>
				<b>Personal Information</b><br/>
				Information or an opinion about an identified individual, or an individual who is reasonably identifiable, whether the information or opinion is:<br/>
				(a) true or not; and<br/>
				(b) recorded in a material form or not,<br/>
				but which is not Confidential Information.<br/><br/>
				<b>Privacy Act</b><br/>
				<i>Privacy Act 1988 (Cth)</i><br/><br/>
				<b>Sensitive Information</b><br/>
				Has the meaning in the Privacy Act and includes information or an opinion about an individual’s racial or ethnic origin, sexual orientation or practices, political opinions or associations, religious beliefs or affiliations, philosophical beliefs, membership of professional or trade associations or trade unions, or criminal record that is also personal information, or health information or genetic information about an individual and which is Confidential Information.<br/><br/><br/>
				
				<h4>Collection and use of personal information</h4>
				The Water Corporation will not collect Personal and Sensitive Information or Confidential Information unless the information is reasonably necessary for, or directly related to, one or more of the Water Corporation’s functions, powers or activities.<br/><br/>
				The Water Corporation may ask individuals to provide information via various methods including telephone, fax and forms (hard copy and electronic, such as via a website) in support of an application by the individual for a particular service from the Water Corporation. The Water Corporation will collect Personal and Sensitive Information or Confidential Information about an individual only from that individual, unless the individual consents to the collection of the information from someone else.<br/><br/>
							
				The Water Corporation collects the following types of Personal and Sensitive Information:<br/>
				<ul>
					<li>Customer information</li>
					<li>Supplier and contractor information</li>
					<li>Recruitment information</li>
					<li>Employee information</li>
					<li>Stakeholder information</li>
					<li>Credit history information</li>
					<li>Competition entrant details</li>
					<li>Personal information provided via our website</li>
					<li>Personal information provided via social media</li>
					<li>Personal information captured by our surveillance devices</li>
					<li>Personal information resulting from customer complaints, investigations, prosecutions and litigation.</li>
				</ul><br/><br/>
							
				The Personal and Sensitive Information collected from individuals may be used:<br/>
				<ul>
					<li>To provide individuals with the service that they requested or to meet the purpose for which the information was submitted;</li>
					<li>To identify with whom the Water Corporation is communicating (if necessary);</li>
					<li>To create de-identified aggregate data about certain groups of individuals; or</li>
					<li>For any other purpose the Water Corporation considers necessary.</li>
				</ul><br/><br/>
			
				The Water Corporation will not collect or use Sensitive Information or Confidential Information about an individual unless the individual consents to the collection of the information and the information is reasonably necessary for, or directly related to, one or more of the Water Corporation’s functions or activities. Where the personal information of an individual has been attained from a third party provider, the Water Corporation will confirm from the provider that the individual has consented to the use by and disclosure to a third party of that personal information.<br/><br/>
				The Water Corporation’s collection, use or disclosure of Non Identifying Information is not subject to this policy.<br/><br/><br/>
			
				<h4>Disclosure of personal and sensitive information</h4>
				The Water Corporation will disclose Personal Information collected from an individual to the extent that it is deemed necessary to provide the service that the individual has requested or to meet the purpose for which a request was submitted and the Personal Information provided.<br/><br/>
				The Water Corporation will only disclose Personal Information to third parties to the extent necessary to carry out the purposes outlined above. Whenever possible, the Water Corporation will ensure that third parties to whom Personal information is disclosed have in place privacy practices that protect the confidentiality of Personal Information. The Water Corporation also takes reasonable steps to ensure that any contract it has with third parties to whom Personal Information is disclosed contains appropriate contractual obligations on those third parties regarding the use of that Personal Information.<br/><br/>
				The Water Corporation will not disclose Sensitive Information or Confidential Information about an individual unless the individual consents to the collection of the information or the Water Corporation is required by law.<br/><br/>
				When someone approaches the media or their member of parliament to discuss their particular situation, and the Water Corporation are then contacted by this third party for more information or for advice about that situation, that individual has provided implied consent for the Water Corporation to disclose information to that third party that will identify the individual or situation.<br/><br/><br/>
				
				<h4>Marketing communications</h4>
				We send customers, potential customers, suppliers, contractors and stakeholders information about our products and services that we consider may be of interest to them. These communications are sent in various forms, including mail, SMS and email, in accordance with applicable marketing laws, including but not limited to the Spam Act 2003 (Cth). Where an individual has indicated a preference in regards to a method of communication, we endeavour to use that method if practical to do so. Individuals can opt‑out of receiving marketing communications at any time by lodging a request with our Privacy Officer or by using opt‑out facilities provided in marketing communications. We do not rent or sell personal information under any circumstances.<br/><br/><br/>
				
				<h4>Cross border disclosure, overseas transfers and storage of data</h4>
				The Water Corporation may disclose Personal Information locally and overseas to other parties including any agent, contractor or third party who provides administrative or other services to the Water Corporation. The countries in which these third parties are located will depend on the circumstances.<br/><br/><br/>
				
				<h4>Accuracy and security</h4>
				The Water Corporation will take reasonable steps to:<br/>
				<ul>
					<li>ensure that Personal Information it collects is accurate, complete and up-to-date;</li>
					<li>ensure that the Personal Information it uses or discloses is, having regard to the purpose of the use or disclosure, accurate, up-to-date, complete and relevant;</li>
					<li>protect Personal Information from misuse, interference and loss, as well as unauthorised access, modification or disclosure; and</li>
					<li>destroy or permanently de-identify Personal Information which it no longer needs to use or disclose, unless the information is contained in a Commonwealth record or the Water Corporation is required to retain the information by law or by a court/tribunal order.</li>
				</ul><br/><br/>
				
				<h4>Inquiries, access and correction</h4>
				If at any time an individual wishes to find out more about the Water Corporation’s privacy practices, or access or correct Personal information, the individual may contact the Water Corporation’s Privacy Officer by email – privacy@watercorporation.com.au<br/><br/><br/>
				
				<h4>Complaints</h4>
				If at any time an individual believes that the Water Corporation has not adhered to this policy, the individual may lodge a complaint with the Water Corporation’s Privacy Officer by email – privacy@watercorporation.com.au<br/><br/><br/>

				<h4>Data breaches</h4>
				Following the commencement of the Privacy Amendment (Notifiable Data Breaches) Act 2017, the Corporation will take reasonable steps to notify individuals impacted by eligible data breaches (as defined under the Privacy Act), as soon as possible after it becomes aware of the breach.<br/><br/><br/>

				<h4>Amendments to policy</h4>
				We may amend this policy from time to time in order to ensure that it remains accurate in view of any alterations to our information handling practices due to new technologies and changed business practices.  Any updated policy will be published on our website.<br/><br/><br/>

				<h4>Key references</h4>
				<i>Privacy Act 1988<br/><br/>
				Freedom of Information Act 1992</i> <br/><br/>
				OAIC Privacy Management Framework<br/><br/>
				S513 Privacy<br/><br/>
				<b>Australian Privacy Principles</b> – available from www.oaic.gov.au<br/>
				<ul>
					<li>Australian Privacy Principle 1 – Open and transparent management of personal information</li>
					<li>Australian Privacy Principle 2 – Anonymity and pseudonymity</li>
					<li>Australian Privacy Principle 3 – Collection of solicited personal information</li>
					<li>Australian Privacy Principle 4 – Dealing with unsolicited personal information</li>
					<li>Australian Privacy Principle 5 – Notification of the collection of personal information</li>
					<li>Australian Privacy Principle 6 – Use or disclosure of personal information</li>
					<li>Australian Privacy Principle 7 – Direct marketing</li>
					<li>Australian Privacy Principle 8 – Cross border disclosure of personal information</li>
					<li>Australian Privacy Principle 9 – Adoption, use or disclosure of government related identifiers</li>
					<li>Australian Privacy Principle 10 – Quality of personal information</li>
					<li>Australian Privacy Principle 11 – Security of personal information</li>
					<li>Australian Privacy Principle 12 – Access to personal information</li>
					<li>Australian Privacy Principle 13 – Correction of personal information</li>
				</ul>
		</form>
        {{content_text}}
    </div>
</div>
{%endblock%}
