{% extends "suggest_base.html" %}
{% block extrastyle %}
<link href="/static/css/{{stylesheet}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="main">
        {% block main_content %}
        {% endblock %}
        </div>
    </div>
{% endblock %}
